<?xml version="1.0"?>
<!--
    /**
    * @author     Kristof Ringleff
    * @package    Fooman_EmailAttachments
    * @copyright  Copyright (c) 2015 Fooman Limited (http://www.fooman.co.nz)
    *
    * For the full copyright and license information, please view the LICENSE
    * file that was distributed with this source code.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fooman\EmailAttachments\Model\Api\MailProcessorInterface"
                type="Fooman\EmailAttachments\Model\MailProcessor"/>
    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="fooman_emailattachments_transportbuilder" type="Fooman\EmailAttachments\Plugin\TransportBuilder"/>
    </type>
    <type name="\Magento\Framework\Mail\MimeMessageInterfaceFactory">
        <plugin name="fooman_emailattachments_mimemessagefactory" type="Fooman\EmailAttachments\Plugin\MimeMessageFactory"/>
    </type>

    <!-- module introduced preferences -->
    <preference for="Fooman\EmailAttachments\Model\Api\AttachmentContainerInterface"
                type="Fooman\EmailAttachments\Model\AttachmentContainer"/>

    <type name="\Fooman\EmailAttachments\Observer\AbstractSendOrderObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Fooman\EmailAttachments\Model\NoneRenderer</argument>
        </arguments>
    </type>


    <virtualType name="fooman_emailattachments_invoice_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Magento\Sales\Model\Order\Pdf\Invoice</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendInvoiceObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_invoice_pdf_renderer</argument>
        </arguments>
    </type>

    <virtualType name="fooman_emailattachments_shipment_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Magento\Sales\Model\Order\Pdf\Shipment</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendShipmentObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_shipment_pdf_renderer</argument>
        </arguments>
    </type>

    <virtualType name="fooman_emailattachments_creditmemo_pdf_renderer" type="\Fooman\EmailAttachments\Model\PdfRenderer">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">\Magento\Sales\Model\Order\Pdf\Creditmemo</argument>
        </arguments>
    </virtualType>
    <type name="\Fooman\EmailAttachments\Observer\AbstractSendCreditmemoObserver">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object">fooman_emailattachments_creditmemo_pdf_renderer</argument>
        </arguments>
    </type>
</config>
